
.app{
  background-color: #000;
  min-width: 100vw;
  min-height: 100vh;
  padding: 20px;
}
.list{
display: flex;
margin-left: 20px;
overflow: scroll;
margin: 50px;

}
.list ::-webkit-scrollbar{
  display: none;
}

